{% extends "layout.html" %}

{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Idea</th>
                <th>Poseted By</th>
            </tr>
        </thead>
        <tbody>
            {% for idea in ideas %}
                <tr>
                    <td>
                        <a href="{% url 'ideas:detail' idea.id %}">
                            {{ idea.title }} 
                        </a>
                    </td>
                    <td>{{ idea.posted_by.username }}</td>
                </tr>
            {% empty %}
                <h3>No ideas.</h2>
            {% endfor %}
        </tbody>
    </table>

    {% if user.is_authenticated %}
        <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button class="btn btn-primary" type="submit">
            Save your idea
        </button>
        </form>
        {% else %}
        <span>
        <a
            href="{% url 'home:login' %}?next={{ request.path }}"
            tabindex="-1"
            aria-disabled="true"
        >
            Login
        </a>
        to add your idea
        </span>
    {% endif %}
{% endblock %}