{% extends "layout.html" %}

{% block body %}
        {% if user.is_authenticated %}
            <h2>
                Welcome back, {{ user.username }}!
            </h2>
        {% else %}
            <h2>
                Hello, guest!
            </h2>
            <p>To fully explore the site, register <a href="{% url 'home:register' %}">here</a></p>
        {% endif %}
    <br>
    <strong>
        This is not a secure site. 
        Do NOT provide any sensitive or confidential data
    </strong>
    <br><br>
    <p>
        This site is built with Django. <br>
        It is the developer's playground for experimentation.<br>
        You are welcome to access  <a href='https://github.com/jeanmariepm/veed.git'>the source code</a>  
    </p><br>

{% endblock %}