{% extends "layout.html" %} {% block body %} {% if user.is_authenticated %}
<h2>Welcome back, {{ user.username }}!</h2>
{% else %}
<h2>Hello, guest!</h2>
<p>
  To fully explore the site, register
  <a href="{% url 'home:register' %}">here</a>
</p>
<p>
  If you have already registered, please
  <a
    href="{% url 'home:login' %}?next={{ request.path }}"
    tabindex="-1"
    aria-disabled="true"
  >
    Login
  </a>
</p>
{% endif %}
<br />
<div class="alert alert-dark" role="alert">
  This is not a secure site. <br />
  Do NOT provide any sensitive or confidential data
</div>
<div class="jumbotron">
  <p>
    This site is built with Django and React. <br />
    It is the developer's playground for experimentation.<br />
    You are welcome to access
    <a href="https://github.com/jeanmariepm/veed.git">the source code</a>
  </p>
</div>

{% endblock %}
