[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
autopep8 = "*"

[packages]
pylint-django = "3"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
wheel = "*"
setuptools = "*"
django-webpack-loader = "*"
djangorestframework_simplejwt = "*"
django-cors-headers = "*"
requests = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
django = "==3.2"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
