[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
pylint-django = "*"
gunicorn = "*"
whitenoise = "*"
django-crispy-forms = "*"
django-extensions = "*"
dj-database-url = "*"
wheel = "*"
setuptools = "*"
django-webpack-loader = "*"
djangorestframework = "*"
pip = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
requests = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
