[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
autopep8 = "*"

[packages]
pylint-django = "*"
gunicorn = "*"
whitenoise = "*"
django-crispy-forms = "*"
django-extensions = "*"
dj-database-url = "*"
wheel = "*"
setuptools = "*"
django-webpack-loader = "*"
pip = "*"
djangorestframework_simplejwt = "*"
django-cors-headers = "*"
requests = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
pytz = "*"
djangorestframework = "==3.10"
django = "==3.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
