{% extends "layout.html" %} {% block body %} {% load static %}
<script type="text/javascript" src="{% static 'books/books.js' %}"></script>

<h1>Book</h1>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr></tr>
      <th scope="row" width="25%">Title</th>
      <td>{{ book.title }}</td>
      <tr></tr>
      <th scope="row">Genre</th>
      <td>{{ book.genre.name }}</td>
      <tr></tr>
      <th scope="row">Published Date</th>
      <td>{{ book.pub_date }}</td>
    </tbody>
  </table>
  <table class="table table-bordered table-sm">
    <tbody>
      {% for review in reviews %}
      <td>{{ review.critic.username }}</td>
      <td>{{ review.comment }}</td>
      <td>{{review.rev_date}}</td>
      {% endfor %}
    </tbody>
  </table>
</div>
{% if user.is_authenticated %}
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <input id="submit" type="submit" value="Submit your review" />
</form>
{% else %}
<span>
  <a
    href="{% url 'home:login' %}?next={{ request.path }}"
    tabindex="-1"
    aria-disabled="true"
  >
    Login
  </a>
  to add your review
</span>
{% endif %} {% endblock %}
